@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant child (& > *);
@custom-variant child-hover (& > *:hover);

@theme {
  --aspect-ratio-auto: "auto";
  --aspect-ratio-square: "1/1";
  --aspect-ratio-video: "16/9";
}
